<html>
	<head>
		<link rel='stylesheet' type='css' href='style.css'>
		<script src='lib/jquery.js'></script>
	</head>
	<div class="container">
    	<div class='nav'>
	    	<a href="/login">Login</a>
		    <a href="/signup">Sign up</a>
		</div>
		<form action="/signup" method="POST">
			<fieldset>
				<legend>Sign Up</legend>
				<div>
					<label for="email">Email: </label>
					<input name="email" type="email">
				</div>
				<div>
					<label for="password">Password: </label>
					<input name="password" type="password">
				</div>
				<button type="submit">Sign up</button>
			</fieldset>
		</form>
	</div>
</html>